---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import BaseHead from '../../components/BaseHead.astro'
import Footer from '../../components/Footer.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import Header from '../../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts'
import BaseLayout from '../../layouts/BaseLayout.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<BaseLayout>
	<main>
		<section>
			<ul class="blog-list-grid u-grid">
				{
					posts.map(post => (
						<li class="box">
							<a
								href={`/blog/${post.id}/`}
								class="blog-list-item"
							>
								{post.data.heroImage && (
									<Image
										width={720}
										height={360}
										src={post.data.heroImage}
										alt=""
									/>
								)}
								<h2 class="title">{post.data.title}</h2>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
								<p class="description">
									{post.data.description}
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

<style>
	main {
		grid-column: span 12;
	}

	.blog-list-item {
		text-decoration: none;
	}

	.title {
		font-size: var(--font-step-2);
		text-decoration: underline;
	}
	.date {
		margin-top: 0;
		font-size: var(--font-step-0);
	}
	.date,
	.description {
		font-weight: normal;
	}
	.blog-list-grid {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.blog-list-grid li {
		grid-column: span 4;
		position: relative;
		display: flex;
	}
	.blog-list-grid li a {
		padding: var(--grid-gutter);
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	@media (max-width: 900px) {
		.blog-list-grid li {
			grid-column: span 6;
		}
	}

	@media (max-width: 600px) {
		.blog-list-grid li {
			grid-column: span 12;
		}
	}
</style>
